.number {
    font-weight: 500;
    font-size: 40px;
    color: tomato;
}

.number-icon {
    display: inline-block;
    vertical-align: baseline;
}

.page-header-title {
    background-color: #2a323c;
    margin: -70px -30px 23px -30px;
    padding: 10px 15px 100px 20px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

.page-header-title .page-title {
    margin-bottom: 12px;
    color: #ffffff;
    font-size: 22px;
}

.page-content-wrapper {
    margin-top: -100px;
}

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
}

.text-muted {
    color: #777;
}

.text-warning {
    color: #fbc658;
    font-weight: 100;
}

.btn-sm-outline {
    font-size: 13px !important;
} 

.btn-outline-success {
    border: 1px solid #6bd098 !important;
}

.btn-outline-warning {
    border: 1px solid #fbc658 !important;
}

.ql-toolbar {
    background-color: #f9f9f9;
    border-bottom: 0 !important;
    resize: vertical;
}

.ql-editor {
    resize: vertical;
    height: 300px;
}

.form-description {
    font-size: 12px;
}

.page-content-wrapper .checkbox {
    margin-left: 1px;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.top-pad-10 {
    padding-top: 10px;
}

.right-pad-10 {
    padding-right: 10px;
}