ul {
    list-style-type: none;
}

.number {
    font-weight: 500;
    font-size: 40px;
    color: tomato;
}

.number-icon {
    display: inline-block;
    vertical-align: baseline;
}

.page-header-title {
    background-color: #2a323c;
    margin: -70px -30px 23px -30px;
    padding: 10px 15px 100px 20px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

.page-header-title .page-title {
    margin-bottom: 12px;
    color: #ffffff;
    font-size: 22px;
}

.page-content-wrapper {
    margin-top: -100px;
}

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
}

.text-muted {
    color: #777;
}

.text-warning {
    color: #fbc658;
    /* font-weight: 100; */
}

.btn-sm-outline {
    font-size: 13px !important;
} 

.btn-outline-success {
    border: 1px solid #6bd098 !important;
}

.btn-outline-warning {
    border: 1px solid #fbc658 !important;
}

.ql-toolbar {
    background-color: #f9f9f9;
    border-bottom: 0 !important;
    resize: vertical;
}

.ql-editor {
    resize: vertical;
    height: 300px;
}

.form-description {
    color: #9a9a9a;
    font-size: 12px;
}

.page-content-wrapper .checkbox {
    margin-left: 1px;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.top-pad-10 {
    padding-top: 10px;
}

.top-pad-20 {
    padding-top: 20px;
}

.top-pad-100 {
    padding-top: 100px;
}


.right-pad-10 {
    padding-right: 10px;
}

.CodeMirror {
    font-weight: 100;
    font-family: Arial, monospace;
    font-size: 14px;
}

.no-opaque {
    opacity: 1 !important;
    display: visible;
}


.move {
    cursor: move;
}

@media only screen and (max-width: 768px) {
    .product-layout {
        padding-top: 0;
        padding-bottom: 30px;
        margin-left: 5px;
        margin-right: 5px;
    }
}

.product-layout {
    padding-top: 30px;
}

@media only screen and (max-width: 768px) {
    .product-item {
        padding-left: 0;
        padding-right: 0;
    }
}

.product-item {
    padding-left: 0;
    padding-right: 0;
}

@media only screen and (max-width: 768px) {
    .thumbnail {
        min-height: 0;
    }
}

.thumbnail {
    border: none;
}

.thumbnail {
    min-height: 415px;
}

.product-wrapper > a:hover {
    color: #cc4135 !important;
}

.product-price {
    padding-bottom: 10px;
    font-size: 20px;
    color: #aaa;
}

.img-thumbnail {
    border: 0;
}

.vertical-center {
    display: flex;
    align-items: center;
}

.product-title-home {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.product-title {
    font-size: 20px;
    margin-top: 0;
}

.title-image-container {
    height: 400px;
}

.image-button {
    cursor: pointer;
    opacity: .7;
}

.image-prev {
    position: absolute;
    top: 180px;
    left: 0;
}

.image-next {
    position: absolute;
    top: 180px;
    right: 0;
}

.title-image-container .img-fluid {
    display: block;
    width: auto;
    max-height: 100%;
    margin: auto;
}

.product-title-image {
    margin: auto;
    max-height: 400px;
    width: auto;
}

.product-option {
    font-size: 18px;
}

.product-option-text {
    font-size: 16px;
    color: #aaa;
    padding-bottom: 10px;
    padding-top: 10px;
}

.productOptions {
    padding-bottom: 15px;
}

.btnAddToCart,
.body_text {
  padding-top: 15px;
  padding-bottom: 15px;
}

.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.btn-black {
    color: #fff!important;
    background-color: #000;
    border-color: #000;
}

.product-wrapper a {
    color: #000;
}